
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.work-sans-fonts {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styel start  here */

.display-flex{
    display: flex;
}

.bg-lighter{
    background-color:  #ff8f0e25;
}
.dark-2{
    color: #424242;
}
.dark-1{
    color: #131313;
}
.dark-3{
    color: #727272;
}
.btn-primary{
    font-size: 1.5rem;
    font-weight: 600;
    background-color: #FF900E;
    border-radius: 8px;
    color: white;
    border: none;
    padding: 20px 25px;

}
main , section{
    margin-top: 50px;
}

/* shared style end here */



/* header style start here */


/* navbar style start here */

.navbar{
    justify-content: space-between;
    align-items: center;

}
.navbar, .banner{
    max-width:1440px ;
    margin: 0 auto;
   
}

.brand{
    font-size: 2em;
    font-weight: bold;
    margin-top: 50px;

}

.nav-links{

    margin-top: 63px  ;

}
.item{
    list-style: none;
}

.link{
    text-decoration: none;
    /* margin-right: 20px; */
    padding: 10px;
    font-size: 1.3em;
    font-weight: 500;

}

/* navbar style end here */



/* banner style start here */
.banner-content{
     width: 862px;
     margin: 0 auto;
    text-align: center;
    margin-bottom:  50px ;
    margin-top: 100px;
   
   
    

}

.banner-title{
    /* text-align: center; */
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.btn{
    margin-top: 20px;
}
.banner-img{
    /* margin:0 240px 0 240px; */
    width: 100%;
    
}


/* banner style end here */



/* haeder style end here */

/* main section style start here */

.teams{
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.our-features{
    max-width: 537px;
    margin-left: 73px;
}

.our-features-title{
    font-size: 2.8rem;
    margin-bottom: 20px;
}




/* main section style end here */


/* responsive for small device start here*/

@media screen and (max-width:576px) {
    
    .navbar, .teams{
        flex-direction: column;
    }

    /* header section responsive start here */

    .banner-content{
        width: 100%;
        /* margin: 0 auto; */
       text-align: center;
       margin-bottom:  50px ;
       margin-top: 100px;
   }

   .banner-title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    }
    .btn-primary{
        font-size: 1rem;
        padding: 15px 20px;
    
    }
    .nav-links {
        margin-top: 40px;
    }
    .banner-content{
        margin-top: 50px;
    }

    /* header section responsive end here */



    /* main section responsive start here */





    /* teams section responsive start here */
     
    .team-img-container {

        grid-template-columns: repeat(1,1fr);
       

    }

    .team-img-container, img{
        width: 95%;
        margin: 0 auto;
    }
    .our-features-title{
        font-size: 2rem;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .our-features{
        width: 85%;
        margin: 0;
    }


    /* teams section responsive start here */






    /* main section responsive end here */


}


/* responsive for small device end here */