
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.work-sans-fonts {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styel start  here */

.display-flex{
    display: flex;
}

.bg-lighter{
    background-color:  #ff8f0e25;
}
.dark-2{
    color: #424242;
}
.dark-1{
    color: #131313;
}
.dark-3{
    color: #727272;
}
.btn-primary{
    font-size: 1.5rem;
    font-weight: 600;
    background-color: #FF900E;
    border-radius: 8px;
    color: white;
    border: none;
    padding: 20px 25px;

}
main , section{
    margin-top: 50px;
}
.section-title{
    font-size: 2.8rem;
    margin-bottom: 20px;
    color: #131313;
}
.box-title{
    font-size: 1.2rem;
    font-weight: 600;

}
.box{
    background-color:#edeaeab6 ;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 2px 5px 7px #fff;
    max-height:170px ;
    padding: 20px;


}
.box-title{
    margin-bottom: 20px;
}
.box-description {
    line-height: 20px;
    margin-bottom: 20px;
}
/* shared style end here */



/* header style start here */


/* navbar style start here */

.navbar{
    justify-content: space-between;
    align-items: center;

}
.navbar, .banner{
    max-width:1440px ;
    margin: 0 auto;
   
}

.brand{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 50px;

}

.nav-links{

    margin-top: 63px  ;

}
.item{
    list-style: none;
}

.link{
    text-decoration: none;
    /* margin-right: 20px; */
    padding: 10px;
    font-size: 1.3rem;
    font-weight: 500;

}

/* navbar style end here */



/* banner style start here */
.banner-content{
     width: 862px;
     margin: 0 auto;
    text-align: center;
    margin-bottom:  50px ;
    margin-top: 100px;
   
   
    

}

.banner-title{
    /* text-align: center; */
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.btn{
    margin-top: 20px;
}
.banner-img{
    /* margin:0 240px 0 240px; */
    width: 100%;
    
}


/* banner style end here */



/* haeder style end here */



/* main section style start here */


/* teams section style start here */

.teams{
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.our-features{
    max-width: 537px;
    margin-left: 73px;
}

/* teams section style end here */



/* features section style start here */
.features-enjoy{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 130px;
    gap: 50px;
    align-items: center;
}

.features-content{
    max-width:586px ;
    /* max-height: 982px; */
}
.features-enjoy-img{
    max-width: 800px;
    position: relative;
}
.features-enjoy-description{
    margin-bottom: 30px;
}
.exprience{
    position: absolute;
    bottom: -6px;
    left: -30px;
    width: 150px;
    background-color: #FF900E;
    text-align: center;
    border-radius: 8px;
    color: white;
    padding: 20px;
    
}
.year{
    font-size: 30px;
}



/* features section style end here */


/* facts section style start here */

/* .fact-container{
    max-width: 50%;
} */

.facts{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 120px;

    margin-bottom: 200px;
   
}
.facts-description{
    margin-bottom: 50px;
}

.facts-container{
    justify-content: space-around;
    gap: 40px;
    

}
.fact{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    text-align: center;
    padding: 30px;
   



}
.number{
    margin-bottom: 10px;
}
.fact-icon{
    margin-bottom: 10px;
}


/* facts section style end here */



/* our sponspores section style start here */


.sponspor-banner{
    max-width:540px ;
    margin: 50px auto;
    text-align: center;
}
.sopnspors-compaines{
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 100px;

}
.sopnspors-compaines img{
    filter: grayscale(100%);
}

/* our sponspors section style end here */




/* main section style end here */


/* responsive for small device start here*/

@media screen and (max-width:576px) {
    
    .navbar,
     .teams,
     .features-enjoy,
     .facts-container{
        flex-direction: column;
    }

    /* header section responsive start here */

    .banner-content{
        width: 100%;
        /* margin: 0 auto; */
       text-align: center;
       margin-bottom:  50px ;
       margin-top: 100px;
   }

   .banner-title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    }
    .btn-primary{
        font-size: 1rem;
        padding: 15px 20px;
    
    }
    .nav-links {
        margin-top: 40px;
    }
    .banner-content{
        margin-top: 50px;
    }

    /* header section responsive end here */



    /* main section responsive start here */





    /* teams section responsive start here */
     
    .team-img-container {

        grid-template-columns: repeat(1,1fr);
       

    }

    .team-img-container , img{
        width: 95%;
        margin: 0 auto;
    }
    .our-features-title{
        font-size: 2rem;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .our-features{
        width: 85%;
        margin: 0;
    }


    /* teams section responsive start here */


    /* features enjoy responsive start here */
     .features-enjoy{
        padding: 10px;
        margin-top: 40px;
        gap: 0;
     }
    .features-enjoy-title{
        font-size: 2rem;

    }
    .features-enjoy-img > img{
        width: 100%;
        
        
    }
    
    .exprience{
        position: absolute;
        bottom: -10px;
        left: 0;
        padding: 15px;
        
    }

    /* features enjoy responsive end here */


    /* fact section responsive start here */

    .facts{
        /* max-width: 100%; */
        /* margin: 0 auto; */
        margin: 20px;
    
        /* margin-bottom: 200px; */
       
    }
    .facts-container  img{
        width: 60px;
    }
    .fact-container{
          
        width: 100%;
    }

    .facts-container{
       width: 100%;
       align-items: center;
        gap: 20px;
        /* border: 1px solid tomato; */
        
    
    }
    .fact{
         width: 80%;
        padding: 30px;
       
    }

    /* fact section responsive end here */



    /* our sponspors  section responsive start here  */


     .sopnspors-compaines{
        width: 50%;
        grid-template-columns: repeat(1,1fr);
        gap: 50px;
    
    }
    .sponspor-banner{
        width:100% ;
        margin-top: 50px; 
        /* text-align: center; */
        margin-bottom: 30px;
        text-align: left;
        padding: 20px;
    }
    .sopnspor-title{
        font-size: 2rem;
    }


    /* our sopnspors section responsive end here */






    /* main section responsive end here */


}


/* responsive for small device end here */